@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 992px) { /*TABLET*/
    

   
}

:root {
    --cor0: #000000;
    --cor2: #7bc5bf;
    --cor3: #00e846;

    --fonte-padrao: Arial, Verdana, helvetica, sans-serif;
    --fonte-moderna: ;
}


html, body {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    background-color: white;
    color: var(--cor0);
    width: 100%;
    height: 100%;
}

header {
    background-color: white;
    display: flex;  
    justify-content: center;
    align-items: center;

    margin: 100px 0px 100px 0px;
}

header > div > img#logofit {
    padding: 0px 200px 21px 0px;

}

header > div > img#logofutp {
    padding: 0px 0px 21px 200px;

}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;    
    padding: 130px 0px 50px 0px;    
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;

}


div.txtemp {
    font-family: var(--fonte-padrao);
    padding: 20px 15px 15px 30px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    width: 500px;
    height: 250px;
    margin: 200px 20px 20px 20px;
    border-radius: 20px 0px 20px;
    line-height: 2em;
}

div.txtcal {
    font-family: var(--fonte-padrao);
    padding: 20px 15px 15px 30px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    width: 500px;
    height: 250px;
    margin: 200px 20px 20px 20px;
    border-radius: 20px 0px 20px;
    line-height: 2em;

}


section#empresa {
    display: flex;
    background-image: url(imagens/fitesa-predio.jpg);
    background-position: center top;
    justify-content: left;
    flex-wrap: wrap;
   
}

section#caldeira {
    display: flex;
    background-image: url(imagens/caldeira.jpg);
    background-position: right bottom;
    justify-content: left;
    flex-wrap: wrap;
}

section#selecionados {
    background-image: url(imagens/alunos.jpg);
}

section#selecionados > h1{
    display: flex;
    font-size: 2.7em;
    font-weight: bolder;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0px black;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    flex-wrap: wrap;
}

div.alunos > h1 {
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
}

div.alunos > p#txt  {
    font-size: 1em;
    text-align: justify;
    padding: 10px;
    line-height: 1.7em;

}

div.alunos > p#h2 {
    text-align: center;
}

div.alunos {
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    border-radius: 30px 0px 0px 30px;
    width: 400px;
    height: 450px;
}

div.fotos {
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
    height: 450px;
}



/* Config article Brenda*/
div#fotob {
    background-image: url('imagens/brenda.jpg');
    background-position: top center;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;

}

article.brenda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 10px;
}

/* Config article Noah*/
div#foton {
    background-image: url('imagens/noah.jpg');
    background-position: top center;
    background-size: cover;
    border-radius: 30px 0px 0px 30px;

}

article.noah {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;

}

/* Config article fulana */
div#fotom {
    background-image: url(imagens/brenda.jpg);
    background-position: top center;
    background-size: cover;
    border-radius: 0px 30px 30px 0px;

}

article.manuela {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        margin-bottom: 10px;

}

article#rodape {
    background-color: var(--cor0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

aside.redesf {
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 350px;
    font-size: 1em;
    text-align: left;

}

aside.redesc {
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 350px;
    font-size: 1em;
    text-align: left;
}

aside.redesf > h1 {
    color: aqua;
    font-size: 3em;
    font-weight: bolder;
    padding: 50px 0px 30px 0px;
}

aside.redesc > h1 {
    color: var(--cor3);
    font-size: 3em;
    font-weight: bolder;
    padding: 50px 0px 30px 0px;

}

article#rodape aside > a {
    padding: 2.5px;
}

article#rodape aside> p {
    color: white;
    font-size: 1em;
    padding-top: 20px;
}

footer {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    padding: 10px;
}
