@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor0: #000000;
    --cor2: #7bc5bf;
    --cor3: #00e846;

    --fonte-padrao: Arial, Verdana, helvetica, sans-serif;
    --fonte-moderna: ;
}

html, body {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    background-color: white;
    color: var(--cor0);
    width: 100%;
    height: 100%;
}

header {
    background-color: white;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    margin: 100px 0px 100px 0px;
}

header > div > img#logofit {
    padding: 0px 200px 21px 0px;
    
}

header > div > img#logofutp {
    padding: 0px 0px 0px 200px;
    
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 1vw;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 200px 0px 50px 0px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;

}

div#texto {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    width: 500px;
    height: 250px;
    margin: 200px 0px 0px 80px;
    border-radius: 20px 0px 20px;
}

section#empresa {
    background-image: url(imagens/fitesa-predio.jpg);
    background-position: center top;
   
}

section#caldeira {
    background-image: url(imagens/caldeira.jpg);
    background-position: right bottom;
}

section#selecionados {
    background-image: url(imagens/alunos.jpg);
    padding-top: 100px;
}

section#selecionados > h1{
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
    width: 100px;
    height: 80px;
}

div.alunos {
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(138, 81, 81);
    padding: 10px;
    width: 550px;
    height: 430px;
    text-align: left;
    
}

div.alunos > h1 {
    text-align: center;
    font-size: 2em;
    padding: 15px;
}

/* Config article Brenda*/

div.fotob {
    border: 2px solid black;
    display: block;
    border-radius: 10px;
    background-color: rgb(138, 81, 81);
    padding: 10px 10px 500px 10px;
    width: 400px;
    height: 400px;
    margin-left: 100px;
    margin-bottom: 1000px;
}

div#fotob {
    background-image: url('imagens/brenda.jpg');
    background-position: top center;
    background-size: cover;

}

div#txtb > p  {
    font-size: 1em;
}

/* Config article Noah*/

div.foton {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(138, 81, 81);
    padding: 10px 10px 500px 10px;
    width: 400px;
    height: 400px;
}

div#foton {
    background-image: url('imagens/noah.jpg');
    background-position: top center;
    background-size: cover;
}

/* Config article fulana */

div.fotom {
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(138, 81, 81);
    padding: 10px 10px 500px 10px;
    width: 400px;
    height: 400px;
}
div#fotom {
    background-image: url(imagens/brenda.jpg);
    background-position: top center;
    background-size: cover;
}

article#rodape {
    background-color: var(--cor0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

aside.redesf {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 350px;
    font-size: 1em;
    text-align: left;

}

aside.redesc {
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
    width: 400px;
    height: 350px;
    font-size: 1em;
    text-align: left;
}

aside.redesf > h1 {
    color: aqua;
    font-size: 3em;
    font-weight: bolder;
    padding: 50px 0px 30px 0px;
}

aside.redesc > h1 {
    color: var(--cor3);
    font-size: 3em;
    font-weight: bolder;
    padding: 50px 0px 30px 0px;

}

article#rodape aside > a {
    padding: 2.5px;
}

article#rodape aside> p {
    color: white;
    font-size: 1em;
    padding-top: 20px;
}

footer {
    background-color: var(--cor0);
    color: white;
    text-align: center;
    padding: 10px;
}
